.gallery {
    display: inline-flex;
    flex-direction: column; 
    justify-content: space-between; 
    list-style: none; 
    max-width: 600px;
    padding: 0;
    margin: 0;
}

img {
    width: 100%; 
    border-radius: 5px; 
}

#name-input{
    margin-top: 20px;
    display: flex;
}
#name-input::placeholder{
    padding-left: 0px;
}